<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.operatorsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Log recorder -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:name=".application.OperatorApplication"
        android:allowBackup="false"
        android:icon="@drawable/mdpiic_launcher_a_p_p"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />

        <receiver
            android:name=".utils.broadcast.SelectStopReasonBroadcast"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".utils.broadcast.RefreshPollingBroadcast"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>