<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.operatorsapp">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Log recorder -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Connectivity -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:name=".application.OperatorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.TechCallActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.GalleryActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.TaskActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivateJobActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.StopEventLogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.QCActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver
            android:name=".utils.broadcast.SelectStopReasonBroadcast"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".utils.broadcast.RefreshPollingBroadcast"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".utils.broadcast.SendLogsBroadcast"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".utils.broadcast.BroadcastAlarmManager"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="14901f99212291ad01bd6ae5fb3af77ed3114173" />

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher" />
            <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/manager_app_notification_channel_id"/>
            -->
        </service>
    </application>

</manifest>